*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
}

h1, p {
  margin: 0 0 1em 0;
}

/* no grid support */
.sidebar {
  float: left;
  width: 19.1489%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  float: right;
  width: 79.7872%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* make a grid */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.wrapper > * {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}